.login-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2em;
}
  
/* Form styling */
.login-form {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.login-form > mat-form-field {
    margin-bottom: 16px;
}

/* Button styling */
    button[mat-raised-button] {
    align-self: flex-end;
}

.event-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2em;
    /*padding-top: 1em;*/
    padding-bottom: 1em;
}
.event-card:last-child {
    margin-bottom: 2em;
}
.event-header{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2em;
}
.event-name{
    font-weight: bold;
}