@if(policies){
<div class="policy-container">
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Initial Policies
            </mat-panel-title>
            <mat-panel-description>
                New Hire Policies ({{completedPolicies}}/{{policyCount}})
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-accordion>
            @for(policy of policies; track policy){
                <mat-expansion-panel [ngClass]="getStatusClass(policy.fieldData.signatureDate)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="flex-container">
                            <div class="policy-name">{{ policy.fieldData.policyName }}</div>
                            @if(policy.fieldData.signatureDate){
                                <div> Signed:{{policy.fieldData.signatureDate}}</div>
                            }
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="flex-container">
                    <a mat-button href="{{policy.fieldData['policyInitialPolicySignature::url']}}" target="_blank">View Policy</a>
                    <p class="placeholder-text">Signiture Input Needs To Go Here</p>
                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>
    </mat-expansion-panel>
</mat-accordion>
</div>
}
@else {
    <p>No Initial Policies to load!</p>
    }
@if(addtionalPolicies){
    <div class="policy-container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Policies
                </mat-panel-title>
                <mat-panel-description>
                    Annual Policies({{completedAddtionalPolicies}}/{{addtionalPoliciesCount}})
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-accordion>
                @for(policy of addtionalPolicies; track policy){
                    <mat-expansion-panel [ngClass]="getStatusClass(policy.fieldData.signatureDate)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="flex-container">
                                <div class="policy-name">{{ policy.fieldData.policyName }}</div>
                                @if(policy.fieldData.signatureDate){
                                    <div> Signed:{{policy.fieldData.signatureDate}}</div>
                                }
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex-container">
                        <a mat-button href="{{policy.fieldData['policyInitialPolicySignature::url']}}" target="_blank">View Policy</a>
                        <p class="placeholder-text">Signiture Input Needs To Go Here</p>
                        </div>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
    </div>
    }
@else {
    <p>No Policies to load!</p>
    }